body {
    margin : 0;
    padding : 0;
    padding-top : 50px;
}

#map {
    position : absolute;
    height : calc(100% - 50px);
    width : 100%;
}

#menu {
    display : block; 
    float : right;
    left : 40px;
    width: 330px;
    border-radius: 3px; 
    margin : 10px;
    position : absolute;
    text-align : center;
    top : 50px;
}

#loading {
    background-color : lightgray;
    display : block;
    height : 100%;
    left : 0;
    opacity : 0.7;
    position : fixed;
    text-align : center;
    top : 0;
    visibility : hidden;
    width : 100%;
    z-index : 98;
}

#loading span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#loading img {
    vertical-align : middle;
    z-index : 99;
}

#menu div{
    border : 1px solid gray;
    border-radius : 3px;
}

#menu #searchBox input{
    border : 1px solid gray;
    width: 250px;
    border-radius : 0px;
}

#menu div {
    background-color : #E8E8FF;
    padding : 0px;
}

