{% extends 'basicTemplate.html' %}
{% block content %}
<iframe id='slides' src="//www.slideshare.net/slideshow/embed_code/38435619" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
<!--<iframe  id='slides' src="//www.slideshare.net/slideshow/embed_code/38390934" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
<!--<iframe  id='slides' src="//www.slideshare.net/slideshow/embed_code/38308969" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
 <!--   <iframe id='slides' src='//slid.es/jeffseif/dogwalkscore/embed' scrolling='no' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
-->
{% endblock %}


